.wpfiles-notice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  color: #202223;
  background-color: #f6f6f7;
  padding: 0px;
  border-radius: 4px;
  overflow: clip;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.05), 0px 0px 1px rgba(0, 0, 0, 0.25);
}
.wpfiles-notice .wpfiles-notice__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 12px 0px 12px 12px;
  flex-grow: 0;
  flex-shrink: 0;
}
.wpfiles-notice .wpfiles-notice__logo img {
  width: 40px;
}
.wpfiles-notice .wpfiles-notice__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 14px;
  background-color: #ffffff;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 12px;
}
.wpfiles-notice .wpfiles-notice__actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #f6f6f7;
  padding: 12px 20px 12px 20px;
  flex-grow: 0;
  flex-shrink: 0;
}
.wpfiles-notice .wpfiles-notice__text_subdued {
  color: #6d7175;
}
.wpfiles-notice .wpfiles-notice__link_subdued {
  color: #8c9196;
  text-decoration: none;
  cursor: pointer;
}
.wpfiles-notice .wpfiles-notice__link_subdued:hover,
.wpfiles-notice .wpfiles-notice__link_subdued:focus {
  color: #202223;
}
.wpfiles-notice .button-primary {
  background-color: #008060;
  border-color: #008060;
}
.wpfiles-notice .button-primary:hover,
.wpfiles-notice .button-primary:focus,
.wpfiles-notice .button-primary:active {
  background-color: #006e52;
  border-color: #006e52;
}
